<!-- Layout wrapper -->
<%= link_to "Go to Posts", posts_path, class: "btn btn-primary" %>
 <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
     
        <!-- Menu -->
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
        <div class="app-brand demo">
            <span class="app-brand-text demo menu-text fw-bolder ms-4">Blog App 📚</span>
         
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </div>

        <div class="menu-inner-shadow"></div>
       
        <ul class="menu-inner py-1">
          <!-- Dashboard -->
          <li class="menu-item active">
            <a href="index.html" class="menu-link">
              <i class="menu-icon tf-icons bx bx-home-circle"></i>
              <div data-i18n="Analytics">Dashboard</div>
            </a>
          </li>
       </ul>
       </aside>
        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>
            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">  
            </div>
          </nav>
          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
          <div class="d-flex justify-content-center align-items-center" >
         
          <!-- content -->
          <div class="right-panel">
  <!-- search bar -->
  <!-- congratulation card -->

  <div class="container-xxl flex-grow-1 d-flex justify-content-center align-items-center" 
  style="min-height: 80vh;">
  <%= stylesheet_link_tag "bootstrap.min", media: "all" %>
          
              <!-- Right side panel -->
             
              <div class="d-flex flex-column " style="width: 800px;">
                <!-- Search bar card -->
                <div class="card mb-2 p-2">
                <div class="d-flex align-items-center">
                    <i class="bx bx-search fs-4 lh-0 me-2"></i>
                    <input
                      type="text"
                      class="form-control border-0 shadow-none"
                      placeholder="Search..."
                      aria-label="Search..."
                    />
                  </div>
                </div>
          
                <!-- Congratulations card -->
                <div class="card p-2">
                  <div class="card-body p-2">
                    <h5 class="card-title text-primary">Congratulations John! 🎉</h5>
                    <p class="mb-0">
                      You have done <span class="fw-bold">72%</span> more sales today. Check your new badge in your profile.
                    </p>
                  </div>
                </div>
              </div>
          
            </div>
          </div>
          </div>
                <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , made with ❤️ by
                  <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">ThemeSelection</a>
                </div>
                <div>
                  
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
